@import url(./root.css);
@import url(./webkit.css);

body {
    background-color: var(--background_color);
}

h1 {
	color: var(--primary_color);
	font-size: 60px;
	font-weight: 800;
	margin: 10px;
}

input {
	background-color: var(--secondary_color);
	border: 1px solid var(--secondary_color);
    border-radius: 5px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 80%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
	color: var(--text);
	border: 1.5px solid transparent;
	transition: border 0.3s ease-in-out;
}

::placeholder {
	color: var(--text);
}

input:focus {
    outline: none;
    border: 1.5px solid var(--primary_color);
	transition: border 0.3s ease-in-out;
}

.container {

	max-width: 100%;
	max-height: 100%;
	background-color: var(--background_color);

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 85%;
	width: 60%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.container_sections {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.container_sections_signup, .container_sections_login  {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 50%;
}

.container_sections_signup  {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container_sections_login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.submit {
	border-radius: 5px;
	border: 1px solid var(--primary_color);
	background-color: var(--primary_color);
	color: var(--text);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
	font-size: 20px;
}

.submit:active {
	transform: scale(0.95);
}

.submit:focus {
	outline: none;
}

.submit.ghost {
	background-color: transparent;
	border: 2px solid var(--title);
	color: var(--title);
	box-shadow: 1px 1px #0000003f;
}

.line-with-text {
	display: flex;
	align-items: center;
	text-align: center;
	width: 50%;
	margin: 20px;
	color: var(--text);
}

.line-with-text::before,
.line-with-text::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid var(--text);
}

.title {
	font-size: 50px;
	font-weight: 600;
	color: var(--text);
}

.highlight {
	font-size: 50px;
	font-weight: 600;
	color: var(--primary_color);
}

.password-container {
	position: relative;
	width: 80%;
  }
  .password-container input {
	width: 100%;
	padding-right: 40px; /* Add space for the eye icon */
  }
  
  .toggle-password {
	position: absolute;
	right: 10px; /* Adjust as needed */
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: var(--title);
	opacity: .4;
	transition: opacity .3s ease-in-out;
  }
  
  .toggle-password:hover {
	opacity: 1;
	color: var(--title);
	transition: opacity .3s ease-in-out;
  }

  .fa-eye {
	transform: translateX(-1.1px)
  }

  .fa-moon {
	margin-right: 10px;
  }

  .container_vertical {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
  }

  .container_upper {
	height: 95%;
  }

  .container_lower {
	height: 5%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
  }

  
  #theme {
	transform: translate(-100%, -100%) scale(1);
	font-size: 30px;
	color: var(--text);
	opacity: .3;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
}

#theme:not(:active) {
	animation: clickButton .2s ease-in-out;
}

#theme:active {
	animation-fill-mode: forwards;
}

@keyframes clickButton {
	0% {
	  transform: translate(-100%, -100%) scale(1);
	}
	50% {
	  transform: translate(-100%, -100%) scale(0.7);
	}
	80% {
	  transform: translate(-100%, -100%) scale(1.1);
	}
	100% {
	  transform: translate(-100%, -100%) scale(1);
	}
}



  
  #theme:hover {
	opacity: 1;
	transition: opacity .3s ease-in-out;
  }
